body {
  margin: 0;
  background: #002C3B;
  font-family: "Euclid Circular A", "Poppins";
  color: #f7f7f7;
  margin: 0;
  height: 94vh;
  display: grid;
  height: 100%;
}
a:hover {
  color: #045e7c;
}

/* Banner */
section.bannersize {
  padding: 30px 15%;
}

@media (width <=720px) {
  section.bannersize {
    padding: 30px 10%;
  }
}

.banner.bannersize {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-evenly;
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: 40vw;
  place-content: center;
}

@media (width <=620px) {
  .banner {
    text-align: center;
    flex-direction: column-reverse;
    justify-content: center;
  }
}


.banner {
  position: absolute;
  display: grid;
  place-content: center;
  color: white;
  width: 100%;
  height: 75vh;
  background-color: hsl(195, 100%, 7%);
  z-index: 0;
}

.banner h2 {
  white-space: nowrap;
  margin: 0 0 0px;
  font-size: 40px;
  color: rgb(255 255 255 / 96%);
}

.banner h3 {
  font-weight: 400;
  margin: 0;
  color: rgb(255 255 255 / 100%);
}

@keyframes morph {

  0%,
  100% {
    border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
  }

  34% {
    border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
  }

  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
  }
}

.banner img {
  width: 320px;
  height: 320px;
  object-fit: cover;
  animation: morph 3.5s linear infinite;
  z-index: 0;
}

/* Footer */

section.footer-style {
  position: bottom;
  left: 0;
  bottom: 12px;
  width: 100%;
  background: #002C3B;
  padding-top: 60px;
}

footer.top>img {
  height: 50px;
  margin: 0 auto 50px;
}

footer {
  position: relative;
  margin: 0 30px;
  color: rgb(255 255 255 / 50%);
}

footer.top {
  display: grid;
  border-bottom: 2px solid rgb(255 255 255 / 20%);
  padding-bottom: 20px;
}

footer.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;
  gap: 8px;
  padding: 20px 0;
  text-align: center;
}

footer.top .links {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  margin-bottom: 30px;
}

.links-column {
  display: grid;
  gap: 10px;
  text-align: center;
}

footer h2 {
  margin: 0 0 10px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(255 255 255 / 96%);
}
.legal>a {
  margin: 0 0 0 4px;
}

.copyright {
  font-size: 12px;
}

.legal>span {
  margin-right: 10px;
}

footer.top .socials {
  position: absolute;
  left: 50%;
  bottom: 10px;
  translate: -50% 0;
  display: flex;
  align-items: center;
  gap: 18px;
  height: 56px;
}

footer.top .socials>a {
  font-size: 24px;
}

.socials-column :is(h2, p) {
  display: none;
}

@media (width > 400px) {
  .links-column {
    text-align: left;
  }

  footer.top .links {
    grid-template-columns: repeat(2, 1fr);
    margin-right: 50px;
  }

  footer.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    text-align: left;
  }

  footer.top .socials {
    left: 0;
    translate: 0;
  }

  footer.top>img {
    margin: 0 0 50px;
  }
}

@media (width >=640px) {
  footer {
    margin: 0 auto;
    max-width: 580px;
    padding: 0;
  }

  footer.top .links {
    grid-template-columns: repeat(3, 1fr);
  }

  footer.top .socials {
    position: static;
  }

  footer.bottom {
    justify-content: flex-start;
  }

  .socials-column :is(h2, p) {
    display: block;
  }
}

footer a {
  color: rgb(255 255 255 / 50%);
  text-decoration: none;
}

.portafoliocolor {
  background-color: #002C3B;
}

/* CONTACTO */

.contactocolor {
  background-color: hsl(195, 100%, 7%);
}

.card {
  background-color: hsl(195, 100%, 7%);
  color: white;
}

.btn-primary {
  background-color: hsl(195, 100%, 7%) !important;
  border-color: hsl(195, 97%, 15%);
}

#portfolio .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: 29277A;
}
svg {
  display: none;
}

#canvas {
  filter: url('#shadowed-goo');
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.shadow {
  background-color: #002C3B;
  padding: 0px;
  margin: 0px;
}

#botonIrArriba {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  padding: 10px;
  background-color: #51D4FF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s;
}

#botonIrArriba:hover {
  opacity: 0.7;
}
